### Pandas

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [4]:
obj = Series([4, 7, -5, 3])
print(obj)
print(obj.values)
print(obj.index) # 행 이름 (문자열, 숫자)

0    4
1    7
2   -5
3    3
dtype: int64
[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)

In [9]:
obj2 = Series([4, 7, -5, 3], index=[1, 'b', '199', 'c'])
print(obj2)

1      4
b      7
199   -5
c      3
dtype: int64

In [12]:
print(obj2['199'])
print(obj2[obj2>0])

-5
1    4
b    7
c    3
dtype: int64

In [13]:
sdata = {'Ohio':35000, 'Texas': 71000,'Oregon':16000, 'Utah':5000}
obj3 = Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [14]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64