In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
feature_name_df = pd.read_csv('./human_activity/features.txt', sep='\s+', header=None, names=['column_index', 'column_name'])
feature_name_df.head(10)

   column_index        column_name
0             1  tBodyAcc-mean()-X
1             2  tBodyAcc-mean()-Y
2             3  tBodyAcc-mean()-Z
3             4   tBodyAcc-std()-X
4             5   tBodyAcc-std()-Y
5             6   tBodyAcc-std()-Z
6             7   tBodyAcc-mad()-X
7             8   tBodyAcc-mad()-Y
8             9   tBodyAcc-mad()-Z
9            10   tBodyAcc-max()-X

In [16]:
# delete index and convert name into list

feature_name = feature_name_df.iloc[:,1].values.tolist()
feature_name[:10]

['tBodyAcc-mean()-X',
 'tBodyAcc-mean()-Y',
 'tBodyAcc-mean()-Z',
 'tBodyAcc-std()-X',
 'tBodyAcc-std()-Y',
 'tBodyAcc-std()-Z',
 'tBodyAcc-mad()-X',
 'tBodyAcc-mad()-Y',
 'tBodyAcc-mad()-Z',
 'tBodyAcc-max()-X']

In [19]:
# finding how many column names are duplicated

feature_dup_df = feature_name_df.groupby('column_name').count()
print(feature_dup_df)

print(feature_dup_df[feature_dup_df['column_index']>1].count())
feature_dup_df[feature_dup_df['column_index']>1].head(10)

                                      column_index
column_name
angle(X,gravityMean)                             1
angle(Y,gravityMean)                             1
angle(Z,gravityMean)                             1
angle(tBodyAccJerkMean),gravityMean)             1
angle(tBodyAccMean,gravity)                      1
...                                            ...
tGravityAccMag-max()                             1
tGravityAccMag-mean()                            1
tGravityAccMag-min()                             1
tGravityAccMag-sma()                             1
tGravityAccMag-std()                             1

[477 rows x 1 columns]
column_index    42
dtype: int64

                              column_index
column_name
fBodyAcc-bandsEnergy()-1,16              3
fBodyAcc-bandsEnergy()-1,24              3
fBodyAcc-bandsEnergy()-1,8               3
fBodyAcc-bandsEnergy()-17,24             3
fBodyAcc-bandsEnergy()-17,32             3
fBodyAcc-bandsEnergy()-25,32             3
fBodyAcc-bandsEnergy()-25,48             3
fBodyAcc-bandsEnergy()-33,40             3
fBodyAcc-bandsEnergy()-33,48             3
fBodyAcc-bandsEnergy()-41,48             3